.fighters___root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('../../resources/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fighters___list {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighters___fighter {
  height: 150px;
  max-width: 150px;
  flex: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  position: relative;
}

.fighters___fighter:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}

.fighter___fighter-info {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  height: 150px;
  padding: 10px;
  position: absolute;
  top: -160px;
  width: 100%;
}

.fighter___fighter-info-item {
  font-family: sans-serif;
  margin: 10px;
}
