.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___img {
  filter: drop-shadow(6px 7px 4px rgba(0, 0, 0, 0.75));
  height: 300px;
}

.fighter-preview___right > .fighter-preview___img {
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__item {
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 0.2;
  font-weight: bold;
  margin: 10px 0;
  border: 3px solid #b00e11;
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.75);
}
